* {
    font-family: "Roboto", serif;
}

body {
    background-image: url("./images/body-background-image.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    z-index: 1000;
}
